# dependencies
/node_modules

# Vite.js
/dist/

# production
/build/

# local env files
.env*
!.env.example

# typescript
*.tsbuildinfo
src/vite-env.d.ts

# lock file
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml
project-words.txt

#.idea
.idea

# CI/CD
.gitlab-ci-local
coverage
.swc

# OS
.DS_Store
